html {
  scroll-behavior: smooth;
}

body {
  background-color: red;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: #fbb77f;
  padding: 1rem;
}

#pageheader {
  background-color: red;
  min-height: auto;
  padding: 1rem;
}
#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url("Images/Logo2.png");
}

#pageheader .container {
  background-color: None;

  min-height: auto;
  text-align: center;
}

#pageheader nav {
  text-align: center;
}
#pageheader nav ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}
#pageheader nav ul li {
  border: 2px solid black;
  padding: 1rem;
  background-color: bisque;
  margin: 2px;
  border-radius: 100px;
}
#pageheader nav ul li:hover {
  text-decoration: none;
  font-size: 1.25rem;
  background-color: darkblue;
}
#media {
  background-color: lightblue;
  min-height: 10rem;
  padding: 1rem;
  background-image: url("Images/223.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/9;
}

#pagecontent {
  background-color: yellow;
  min-height: 10rem;
  padding: 1rem;
}
blockquote {
  font-style: italic;
  color: darkblue;
  font-size: 1.5rem;
}
p .container {
  font-size: 1.25rem;
  line-height: 1.5;
  color: darkblue;
}
#career {
  background-color: darkblue;
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: darkblue;
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: darkblue;
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: darkblue;
  min-height: auto;
  padding: 1rem;
}
#pagefooter .container {
  /* background-color: red; */
  min-height: auto;
  text-align: center;
  min-height: auto;
}
#aifooter {
  background-color: darkblue;
  min-height: auto;
  padding: 1rem;
}
#aifooter .container {
  text-align: center;
  min-height: auto;
}
#subfooter {
  background-color: brown;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  display: block;
  margin: auto;
  background-color: red;
  border: 5px solid red;
}
@media screen and (min-width: 650px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #pageheader nav ul li {
    display: inline-block;
  }
  #pagecontent {
    background-color: lightgreen;
  }
  #career {
    background-color: black;
  }
}
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: orange;
  }
  #career {
    background-color: wheat;
  }
}
